    body {
        background-color: var(--bg-color);
        color: var(--text);
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    h1 {
        font-weight: 600;
        font-size: 42px;
        line-height: 77px;
        text-transform: uppercase;
        color: var(--accent);
    }
    
    h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: var(--accent);
        text-transform: uppercase;
        text-align: center;
    }
    
    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: var(--accent);
        text-transform: uppercase;
        text-align: center;
    }
    
    h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--accent);
    }
    
    select {
        display: block;
        width: 100%;
        padding: 12px 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #505782;
        background-color: var(--text);
        border-radius: 20px;
    }
    
    .container {
        max-width: 1470px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .btn {
        display: block;
        width: 100%;
        padding: 18px 45px;
        background: var(--text);
        color: var(--bg-color);
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: var(--bg-color);
            color: var(--text);
        }
        &:active {
            background: var(--bg-color);
            color: var(--text);
        }
        &:focus {
            background: var(--bg-color);
            color: var(--text);
        }
        @media (max-width: 560px) {
            font-size: 16px;
        }
    }
    
    .add-post {
        transform: scale(1.4);
        margin-right: 20px;
        path {
            fill: var(--accent);
        }
    }
    
    .posts {
        &__title {
            padding: 10px 0;
            border-bottom: 1px solid var(--text);
        }
        &__item {
            padding: 20px 0 30px;
            span {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 10px;
            }
        }
        &__item:not(:last-child) {
            padding: 20px 0 30px;
            border-bottom: 1px solid var(--text);
        }
        &__tel {
            margin-bottom: 10px;
            color: #fff;
        }
        &__link {
            margin-bottom: 10px;
        }
        &__read {
            color: var(--accent);
            margin-top: 10px;
        }
    }
    
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        // min-width: 320px;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }
    
    input {
        width: 100%;
        padding: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: var(--text);
        border-radius: 20px;
        border: 2px solid var(--text);
        background: rgba(181, 228, 255, 0.1);
        &::placeholder {
            color: var(--text);
        }
    }
    
    .wrapper {
        max-width: 70%;
        margin: 0 auto;
        @media (max-width: 760px) {
            max-width: 100%;
        }
    }